@tailwind base;
@tailwind components;
@tailwind utilities;

/* scrollbar */
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb {
    background: #757575a5;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
    background: #444;
}

/* scrollbar */

/* antd*/
.field-valid-error {
    border-radius: var(--ant-border-radius);
    outline: var(--ant-color-error) solid 1px;
    outline-offset: 2px;
}

.hover-danger-button:hover {
    color: var(--ant-color-error) !important;
    border-color: var(--ant-color-error) !important;
}

/* antd*/